<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <!-- table showing products -->
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}">All Students</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/create}">Add New Student</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <div class="column">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th> 
                    <th scope="col">From</th> 
                    <th scope="col">Bio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="student:${students}" th:object="${student}">
                    <td th:text="*{id}">ID</td>
                    <td th:text="*{name}">Name</td>
                    <td th:text="*{from}">From</td>
                    <td th:text="*{bio}">Bio </td> 
                    <td>  
                      <form th:action="@{/deleteItem}" method="post" >
                           <input type="hidden" name="id" th:value="*{id}">
                    
                           <input type="hidden" name="name" th:value="*{name}">
                           <input type="hidden" name="from" th:value="*{from}">
                           <input type="hidden" name="bio" th:value="*{bio}">
                           <button type="submit">Delete</button>
                      </form>
                   </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

  
    <!-- for success pop up  -->
    <div class="modal fade" id="showMe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Attention !</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Hey, congratulation !
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>
  
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
 
 
 <script th:inline="javascript">
  $(function() {
            let check = /*[[${check}]]*/ "";

            if(check == 'OK')
            {
            $('#showMe').modal('show')
            }
            
        })
  </script>
  
  
  
  
  
  </body>
</html>